---
layout: default
---

<div class="posts">
  <h2> 博客搭建 </h2>
  {% for post in site.posts %}
    {% if post.category == "博客搭建" %}
      <ul>
        <li> <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a> </li>
      </ul>
    {% endif %}
  {% endfor %}


  <h2> Unix </h2>
  {% for post in site.posts %}
    {% if post.category == "Unix" %}
      <ul>
        <li> <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a> </li>
      </ul>
    {% endif %}
  {% endfor %}


  <h2> Reading </h2>
  {% for post in site.posts %}
    {% if post.category == "Reading" %}
      <ul>
        <li> <a class="pjaxlink" href="{{ post.url }}">{{ post.title }}</a> </li>
      </ul>
    {% endif %}
  {% endfor %}

</div>